
{% extends "admin/base_site.html" %}

{% block title %}Transfer Patient Bed{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Transfer Patient Bed</h1>

    <form method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="errornote">{{ form.non_field_errors }}</div>
        {% endif %}

        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row">
                    <div>
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div class="help">{{ field.help_text }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Transfer Bed" class="default">
            <a href="{% url 'admin:ipd_ipdadmission_changelist' %}"
               class="closelink">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
